annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
bleak==3.0.2
click==8.5.0
dbus-fast==5.0.22
fastapi==0.141.1
h11==0.16.0
idna==3.19
numpy==2.5.3
pillow==12.3.0
pydantic==2.13.5
pydantic-core==2.46.5
python-barcode==0.16.1
python-dotenv==1.2.3
python-multipart==0.0.32
qrcode==8.2
starlette==1.6.0
typing-extensions==4.16.0
typing-inspection==0.4.4
uvicorn==0.52.4
